/* =============================================================================
   SlickNav
   This CSS helps hide/show the nav menu on mobile devices
   ========================================================================== */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

/* =============================================================================
   SlickNav
   Main Navigation CSS
   ========================================================================== */

#main_nav {
	color:#fff;
    background: none repeat scroll 0 0 #323232;
    width: 100%;
}

#menu {
  float: left;
  line-height: 1;
}
#menu:before {
    display: table;
    content: "";
}
#menu:after {
    display: table;
    content: "";
    clear: both;
}
#menu ul {
  display: inline-block;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
#menu ul li {
  position: relative;
  display: inline-block;
}
#menu ul li a {
  display: inline-block;
  color: #b6b6b6;
  font-weight: 200;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  text-decoration:none;
  font-weight:bold;
}
#menu ul li a:hover {
  color: white;
  text-decoration:underline;
}
#menu ul li.submenu a {
  padding: 10px;
  padding: 0.625rem;
  text-decoration:none;
  font-weight:bold;
}
#menu ul li.submenu a:after {
  font-family: "FontAwesome";
  content: "\f078";
  margin-left: 5px;
  margin-left: 0.3125rem;
  font-size: 12px;
  font-size: 0.75rem;
}
#menu ul li.submenu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -6px;
  z-index: 99;
  margin: 0;
  padding: 0;
  width: 200px;
  height: auto;
  background-color: #f1f1f1;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
}
#menu ul li.submenu ul li {
  display: block;
  float: none;
  padding: 0;
  text-align: left;
}
#menu ul li.submenu ul li a {
  width: 170px;
  display: inline-block;
  color: #000000;
  margin: 0;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  line-height: 1.3;
  letter-spacing: 1px;
  font-size: 13px;
}
#menu ul li.submenu ul li a:hover, #menu ul li.submenu ul li a:active {
  color: #1583cc;
  background-color: #cccccc;
}
#menu ul li.submenu ul li a:after {
  display: none;
}
#menu ul li.submenu:hover > ul {
  display: block;
}

